@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: rgb(33, 46, 43);
}

.container {
  height: 100%;
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.card {
  height: 25rem;
  width: 20rem;
  /* overflow: hidden; */
  border-radius: 9px;
  border: 2px solid #ffc251ef;
  position: relative;
}

.crsr {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 2px solid rgb(198, 250, 114);
  position: absolute;
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
